kind: Pod
apiVersion: v1
metadata:
  name: redis
  namespace: database
  labels:
    app: redis
spec:
  nodeSelector:
    database: ""
  containers:
  - name: redis
    image: redis:5.0.0
    command: ["redis-server"]
    volumeMounts:
      - mountPath: /data
        name: redis-data
  volumes:
    - name: redis-data
      hostPath:
        path: ${DATABASE_VOLUME_PATH}/redis/data
---
apiVersion: v1
kind: Service
metadata:
  namespace: controller
  name: redis-service
spec:
  selector:
    app: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  namespace: database
  name: $REDIS_SERVICE_NAME
spec:
  selector:
    app: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
